* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /*  Chrome and Opera */
}
html, body {
  width: 100%; height: 100%;
  padding: 0; margin: 0;
}
body{
  color:#FFF;
  background:#023;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
div {
  display: flex;
  width:100%; height:100%;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  font-weight:normal;
  animation: colorchange 5s infinite; /* or ms */
}
#score {
  font-size: 130px;
  margin:0;
  animation: colorchange 5s infinite; /* or ms */
}
p {
  margin:5px 0 0;
  animation: colorchange 5s infinite; /* or ms */
}
#graviTRON{
  position: relative;
  min-width:300px; width: 33.3%;
  height:50%;
  min-height:180px;
  margin: auto;
  border-radius:20px;
  color:#000;
  font-size:60px;
  font-weight:bold;
  letter-spacing: -5px;
  line-height: 50px;
  background-color: #000;
  animation: backgroundcolorchange 5s infinite; /* or ms */
}
#ball{
  position: absolute;
  top:0;
  width:30px; height: 30px;
  margin: auto;
  border-radius:50%;
  background-color: #000;
  animation: pulse 1s infinite; /* or ms */
}

@keyframes pulse
{
  0%   {width:30px; height: 30px}
  50%  {width:25px; height: 25px}
  100% {width:30px; height: 30px}
}
@keyframes colorchange
{
  0%   {color: Brown;}
  25%  {color: DarkGoldenRod;}
  50%  {color: DodgerBlue;}
  75%  {color: GreenYellow;}
  100% {color: Brown;}
}
@keyframes backgroundcolorchange
{
  0%   {background-color: Brown;}
  25%  {background-color: DarkGoldenRod;}
  50%  {background-color: DodgerBlue;}
  75%  {background-color: GreenYellow;}
  100% {background-color: Brown;}
}
